<%= form_with url: sessions_path do |form| %>
    <div class="form">
        <div class="campo_login">
            <label class="form-label" for="inputEmail4"  style="color: #ECE9DD;">Login</label>
            <%= form.text_field :login, autofocus: true, class: "form-control", required: "true"%>
        </div>
        <div class="campo_password">
            <label class="form-label" for="inputPassword4" style="color: #ECE9DD;">Password</label>
            <%= form.password_field :password, id: "user_password",class: "form-control", required: "true" %>
        </div>
        <%= form.hidden_field :aprobado, value: true %>

        <div class="btn-group">
            <%= form.submit  'Ingresar', class: 'btn-submit' %>
        </div>
    </div>
<% end %>
