<!DOCTYPE html>
<html>
  <head>
    <title>RadiantRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header style="margin: 0 0 20px;">
        <nav class="nav-container">
            <div class="logo-box">
                LOGO
            </div>
            <div class="parent-links">
                <a class="social"><%= link_to "About", "https://www.facebook.com/profile.php?id=100095010065271", class: 'social-links', target: '_blank' %></a>
                <a class="social"><%= link_to "Contact", "https://www.facebook.com/profile.php?id=100095010065271", class: 'social-links', target: '_blank' %></a>
                <% if Current.user %>
                    <a class="social"><%= link_to "Gestionar secciones", secciones_path, class: 'social-links' %></a>
                <% end %>
            </div>
            <div class="icon">
                <% if Current.user %>
                    <a class="social"><%= link_to "Cerrar sesion", logout_path, class: 'sm-icon' %></a>
                <% else %>
                    <a><%= link_to "Login", login_path, class: 'sm-icon' %></a>
                <% end %>
            </div>
        </nav>
    </header>
    <% Seccion.all.each do |seccion| %>
        <section >
            <div class="home-top-content">
                <h1 class="flex justify-content-center align-items-center" style="font-family: Arial, sans-serif; font-size: 70px;">
                    <strong><%= seccion.nombre %></strong>
                </h1>
                <h2 class="flex justify-content-center align-items-center" style="font-family: 'Times New Roman', Times, serif; font-size: 30px;">
                    <%= seccion.descripcion %>
                </h2>
                <picture>
                    <source srcset="<%= seccion.contenido.url %>" type="image/jpg">
                    <img src="<%= seccion.contenido.url %>" alt="Imagen de la seccion" style="width: 100%;">
                </picture>
            </div>
        </section>
    <% end %>
  </body>
</html>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: #ECE9DD;
    }
    .container{
        display: flex;
        justify-content: space-between;
    }
    .parent-links{
        font-size: 1rem;
    }
    .parent-links, .icon{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        height: 42px;
    }
    .logo:hover{
        opacity: 0.8;
    }
    .social{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-links{
        text-decoration: none;
        padding: 0 2.5rem;
        margin: 0;
        color: #ECE9DD;
        font-weight: 500;
    }
    .social-links:hover{
        opacity: 0.8;
    }
    .sm-icon{
        padding: 0 1rem;
        margin: 0;
        color: #ECE9DD;
    }
    .sm-icon:hover{
        opacity: 0.8;
    }
    nav{
        font-size: 20px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        padding-top: 32px;
    }
    .home-top-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10rem;
        gap: 1rem;
    }
</style>
